{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Registration</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<!-- MATERIAL DESIGN ICONIC FONT -->
		<link rel="stylesheet" href="fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">

		<!-- STYLE CSS -->
		<link rel="stylesheet" href="{% static 'App/csslg/login.css'%}">
	</head>

	<body>

		<div class="wrapper" style="background-image: url('{% static 'App/imageslg/bg-registration-form-1.jpg'%}');">
			<div class="inner">
				<div class="image-holder">
					<img src="{% static 'App/imageslg/pexels-marta-dzedyshko-2067569.jpg'%}" alt="">
				</div>
				<form action="{% url 'login' %}" method='post'>
					<h3>Sign in</h3>
					
					<div class="form-wrapper">
						<input type="text" placeholder="Username" name='username' class="form-control">
						<i class="zmdi zmdi-account"></i>
					</div>
				
					<div class="form-wrapper">
						
					
					</div>
					<div class="form-wrapper">
						<input type="password" placeholder="Password" name='password' class="form-control">
						<i class="zmdi zmdi-lock"></i>
					</div>
					
					<div class="form-wrapper">
						{% if message %}
						<p>{{message}}</p>
					{% endif %}
					</div>
					<button>Login
						<i class="zmdi zmdi-arrow-right"></i>
					</button>
				</form>
			</div>
		</div>
		
	</body>
</html>